.banner {
  background-size: cover;
  background-position: center;
  padding: 270px;
}

.category-item {
  display: flex;
  padding: 27px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  img {
    width: 30px;
    height: 30px;
  }
}

.category-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2E1CE;
  padding: 5px;
  flex-wrap: wrap;
  gap: 10px;
}

.search_bar {
  margin-top:30px;
  margin-bottom: 30px;
  background-color: #FDF5EC ;
  display: flex;
  justify-content: center;
  align-items: center;
}
