<%# <div class="footer">
  <div class="footer-content">
    <div class="info">
        <p>Constance Incorporated</p>
        <p>123 Main Street</p>
        <p>City, State, ZIP</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@constanceinc.com</p>
      </div>
  </div>
</div> %>

<footer>
  <div class="footer-text">
  <p>© 2024 Campers Incorporated</p>
  </div>
  <%= image_tag 'logo_brown.png', alt: 'Logo', class: 'footer-logo' %>
</footer>
