@import "components/button";

.container {
  box-shadow: 10px 5px 5px rgba(19, 19, 19, 0.2);
  border-radius: 30px;
  padding: 40px;
}

.form-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

  .form-card {
    flex: 1;
    min-width: 300px;
    margin: 10px;
  }

  .form-actions {
    margin-top: 20px;
  }
}
