.navbar-lewagon {
  justify-content: space-between;
  background: #BBC1B4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.avatar {
  width: 40px;
}

.dropdown-menu {
  font-size: 10px;
}

.container-fluid {
  margin-left: 30px;
  margin-right: 30px;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
}
